@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
}

/* Some Varibles */
:root {
  --main-color: #ffb43a;
  --hover-color: rgb(28, 199, 73);
  --body-color: #111319;
  --container-color: #2d2e37;
  --text-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  user-select: none;
  color: rgb(255, 255, 255);
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.bx {
  cursor: pointer;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

/* Code header */

header {
  width: 100%;
  position: fixed;
  z-index: 100;
}

header .header-container {
  width: 100%;
  height: 72px;
  z-index: 100;
  top: 0px;
  vertical-align: middle;
  transition: background-color 0.5s linear 0s;
}

header .header-container.active {
  background-color: rgb(10, 12, 15);
}

header .header-container .header-inner {
  height: 100%;
  margin: 0px auto;
  position: relative;
  vertical-align: top;
  padding: 0px 56px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.header-container .header-inner .logo-wrap {
  font-size: 0px;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.logo-wrap .top-logo {
  padding: 18px 0px;
  display: inline-block;
}

.header-inner .channels-wrap {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 100%;
  margin-right: 410px;
}

.channels-wrap .channel {
  position: relative;
  line-height: 72px;
  margin: 0px 0px 0px 40px;
}

.channels-wrap .channel:first-child {
  margin-left: 32px;
}

.channel .chanel-link {
  color: var(--text-color);
  opacity: 0.6;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
}

.channel .chanel-link:hover {
  opacity: 1;
  color: var(--hover-color);
}

.channel a.selected {
  color: rgb(255, 255, 255);
  opacity: 1;
  font-weight: 700;
}

.header-inner .right-header {
  position: absolute;
  right: 56px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.right-header .search-box {
  width: 240px;
  cursor: pointer;
  position: relative;
  display: flex;
  height: 36px;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 1;
}

.right-header .search-box * {
  outline: none;
}

.search-box #searchForm {
  width: 100%;
  position: relative;
}

.search-box #searchForm input {
  width: 240px;
  height: 36px;
  padding: 0px 53px 0px 12px;
  box-sizing: border-box;
  border-radius: 4px;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-box #searchForm .search-btn {
  position: absolute;
  right: 11px;
  top: 5px;
  width: 24px;
  height: 24px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

#searchForm .search-btn:hover svg path {
  fill: var(--hover-color);
}

.search-box #searchForm .line {
  position: absolute;
  right: 44px;
  top: 9px;
  width: 1px;
  height: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.search-box .search-list-container {
  display: none;
  position: absolute;
  top: 54px;
  left: 0px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 4px;
  overflow: hidden scroll;
  background: rgb(26, 28, 34);
  padding: 8px 0px;
  max-height: 486px;
  box-sizing: border-box;
}

.search-box .search-list-container::-webkit-scrollbar {
  display: none;
}

.search-list-container .hotSearch-title {
  position: relative;
  width: 100%;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  color: rgb(153, 153, 153);
  padding: 0px 16px;
  box-sizing: border-box;
}

.search-list-container .list-item {
  position: relative;
  padding: 14px 16px;
  font-size: 14px;
  color: rgb(204, 204, 204);
  transition: all 0.2s ease 0s;
  max-height: 60px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.search-list-container .list-item:hover {
  background: rgba(255, 255, 255, 0.08);
}

.search-list-container .list-item:hover i {
  color: rgb(28, 199, 73);
}

.search-list-container .list-item:hover p {
  color: rgb(28, 199, 73);
}

.search-list-container .list-item.hotSearch-item i {
  line-height: 14px;
  height: 14px;
  font-weight: 700;
  font-style: normal;
}

.search-list-container .list-item.hotSearch-item:nth-of-type(1) > i {
  color: rgb(28, 199, 73);
}

.search-list-container .list-item.hotSearch-item:nth-of-type(2) > i {
  color: rgb(28, 199, 73);
}

.search-list-container .list-item.hotSearch-item:nth-of-type(3) > i {
  color: rgb(28, 199, 73);
}

.search-list-container .list-item p {
  color: rgb(188, 189, 190);
  margin-left: 8px;
  min-height: 16px;
  max-height: 32px;
  font-size: 14px;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.right-header .history-and-collect {
  height: 72px;
  width: 80px;
  margin-left: 16px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.right-header .history-and-collect:hover path {
  fill: var(--hover-color);
}

.right-header .history-and-collect:hover span {
  color: var(--hover-color);
}

.right-header .history-and-collect > i {
  display: flex;
  box-sizing: border-box;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
}

.right-header .history-and-collect > i svg {
  outline: none;
  border-radius: 50%;
}

.right-header .history-and-collect > i span {
  font-size: 12px;
  line-height: 12px;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  font-style: normal;
}

.history-and-collect .content-box {
  display: flex;
  display: none;
  position: absolute;
  border-radius: 4px;
  z-index: 1;
  width: 280px;
  min-height: 202px;
  top: 71px;
  background-color: rgb(26, 28, 34);
  border: 1px solid rgba(255, 255, 255, 0.25);
  flex-direction: column;
}

.history-and-collect .content-box::after {
  display: block;
  box-sizing: border-box;
  content: '';
  height: 12px;
  width: 12px;
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: rgb(26, 28, 34);
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px 0px 0px;
}

.content-box .content {
  width: 100%;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
}

.content .blank-page {
  box-sizing: border-box;
  display: flex;
  padding: 16px 26px;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  flex: 1 1 0%;
}

.blank-page img {
  height: 80px;
  width: 80px;
}

.blank-page .blank-page-desc {
  font-size: 13px;
  color: rgb(169, 169, 172);
  letter-spacing: 0px;
  text-align: center;
  line-height: 18px;
  margin-top: 8px;
}

.blank-page .login-button {
  position: relative;
  height: 30px;
  background: rgb(28, 199, 73);
  border-radius: 4px;
  font-size: 13px;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 30px;
  margin-top: 16px;
  min-width: 88px;
  box-sizing: border-box;
  padding: 0px 12px;
}

.blank-page .login-button:hover::after {
  position: absolute;
  left: 0px;
  top: 0px;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
}

.right-header .language-container {
  position: relative;
  margin-left: 4px;
  cursor: pointer;
  width: 80px;
  height: 72px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
}

.right-header .language-container:hover path {
  fill: var(--hover-color);
}

.right-header .language-container:hover span {
  color: var(--hover-color);
}

.right-header .language-container > i {
  display: flex;
  box-sizing: border-box;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
}

.right-header .language-container > i svg {
  width: 32px;
  height: 32px;
  outline: none;
}

.right-header .language-container > i span {
  color: rgb(255, 255, 255);
  opacity: 0.8;
  font-size: 12px;
  line-height: 12px;
  font-style: normal;
}

.language-container .header-collect {
  display: none;
  position: absolute;
  left: 50%;
  top: 71px;
  transform: translate(-50%, 0px);
}

.header-collect .language-box-container {
  position: relative;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 4px;
  padding: 8px 0px;
  background-color: rgb(26, 28, 34);
}

.header-collect .language-box-container::before {
  display: block;
  box-sizing: border-box;
  content: '';
  height: 12px;
  width: 12px;
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: rgb(26, 28, 34);
  border-left: 1px solid rgb(102, 102, 102);
  border-top: 1px solid rgb(102, 102, 102);
  border-radius: 4px 0px 0px;
}

.language-box-container .language-box {
  background: rgb(26, 28, 34);
  text-align: center;
}

.language-box .language-list li {
  width: 248px;
  padding: 0px 16px;
  text-align: center;
  position: relative;
  height: 44px;
  line-height: 44px;
  font-size: 14px;
  color: rgb(169, 169, 172);
  cursor: pointer;
}

.language-box .language-list li.cur {
  color: var(--text-color);
  font-weight: 700;
}

.language-box .language-list li:hover {
  background: rgba(255, 255, 255, 0.08);
  color: rgb(28, 199, 73);
}

.right-header .user-side-wrap {
  position: relative;
  height: 70px;
  cursor: pointer;
}

.right-header .user-side-wrap:hover path {
  fill: var(--hover-color);
}

.right-header .user-side-wrap:hover span {
  color: var(--hover-color);
}

.user-side-wrap .user-wrap {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
}

.user-side-wrap .user-wrap .user-info-list {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  width: 80px;
  margin-left: 4px;
  height: 100%;
}

.user-wrap .user-info-list .userImg-wrap {
  position: relative;
}

.user-info-list .userImg-wrap .login-button {
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.userImg-wrap .login-button svg {
  width: 32px;
  height: 32px;
  display: block;
}

.user-wrap .user-info-list > span {
  font-size: 12px;
  line-height: 12px;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}

.user-side-wrap .no-login-list {
  display: none;
  position: absolute;
  left: 50%;
  top: 68px;
  transform: translate(-50%);
  width: 280px;
  background: rgb(26, 28, 34);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px;
}

.user-side-wrap .no-login-list::after {
  display: block;
  box-sizing: border-box;
  content: '';
  z-index: -1;
  height: 12px;
  width: 12px;
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: rgb(26, 28, 34);
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px 0px 0px;
}

.user-side-wrap .no-login-list div:nth-child(1) {
  text-align: center;
  padding: 16px;
}

.user-side-wrap .no-login-list div:nth-child(1) p {
  line-height: 18px;
  font-size: 13px;
  color: rgb(169, 169, 172);
}

.user-side-wrap .no-login-list div:nth-child(1) span {
  color: var(--text-color);
  position: relative;
  display: inline-block;
  min-width: 108px;
  padding: 0px 12px;
  background: rgb(28, 199, 73);
  border-radius: 4px;
  line-height: 30px;
  font-size: 13px;
  height: 30px;
  box-sizing: border-box;
  margin-top: 16px;
  outline: none;
}

.user-side-wrap .no-login-list div:nth-child(1) span:hover::after {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  content: '';
}

.right-header .qrcode-wrap {
  margin-left: 16px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  height: 72px;
  display: flex;
  cursor: pointer;
}

.right-header .qrcode-wrap:hover path {
  fill: var(--hover-color);
}

.right-header .qrcode-wrap:hover rect {
  fill: var(--hover-color);
}

.right-header .qrcode-wrap:hover i {
  border-color: var(--hover-color);
}

.right-header .qrcode-wrap:hover span {
  color: var(--hover-color);
}

.right-header .qrcode-wrap i {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
  width: 80px;
  height: 34px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
}

.right-header .qrcode-wrap svg {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.right-header .qrcode-wrap i span {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
}

.right-header .qrcode-wrap .pc {
  display: flex;
}

.qrcode-wrap .download-new-wrapper {
  display: none;
  position: absolute;
  top: 52px;
  background-color: rgb(26, 28, 34);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 3.6px;
  z-index: 110;
  margin-top: 16px;
}

.download-new-wrapper .download-new-content-wrapper {
  display: flex;
  width: 298px;
  padding: 16px;
  box-sizing: border-box;
  -webkit-box-pack: center;
  justify-content: center;
}

.download-new-wrapper .download-new-content-wrapper::after {
  display: block;
  box-sizing: border-box;
  content: '';
  z-index: -1;
  height: 12px;
  width: 12px;
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: rgb(26, 28, 34);
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px 0px 0px;
}

.download-new-content-wrapper .download-new-content-left {
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.download-new-content-left .header-new-download-wrapper {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}

.header-new-download-wrapper .header-new-download-itemp {
  margin-bottom: 8px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-width: 130px;
  text-align: left;
  margin-bottom: 12px;
}

.header-new-download-wrapper .header-new-download-itemp:last-child {
  margin-bottom: 0px !important;
}

.header-new-download-itemp .free-vip-title {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-width: 130px;
  text-align: left;
  font-size: 13px;
  color: rgb(242, 191, 131);
  font-weight: 700;
}

.header-new-download-item .header-vip_tips {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-width: 130px;
  text-align: left;
  font-size: 12px;
  color: rgb(131, 132, 134);
  font-weight: 400;
}

.download-new-content-wrapper .download-new-content-right {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90px;
  margin-left: 12px;
}

.right-header .vip-tag {
  margin-left: 16px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 72px;
}

.vip-tag .user-level-tag {
  position: relative;
  display: block;
  width: 82px;
  height: 36px;
  border-radius: 4px;
}

.vip-tag .user-level-tag svg {
  width: 100%;
  height: 100%;
}

.vip-tag .vip-privileges {
  display: none;
  position: absolute;
  right: 0px;
  top: 71px;
}

.vip-tag .vip-privileges::after {
  display: block;
  box-sizing: border-box;
  content: '';
  height: 12px;
  width: 12px;
  position: absolute;
  top: 1px;
  right: 15%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: rgb(26, 28, 34);
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px 0px 0px;
}

.vip-privileges .content {
  width: 280px;
  padding-bottom: 8px;
  background: rgb(26, 28, 34);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px;
}

.vip-privileges .name {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 16px;
  color: rgb(169, 169, 172);
  font-size: 14px;
  height: 44px;
  line-height: 44px;
}

.vip-privileges .name:hover {
  color: rgb(242, 191, 131);
}

.vip-privileges .name:hover path {
  fill: rgb(242, 191, 131);
}

.vip-privileges .privilege-list {
  padding: 0px 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.privilege-list .privilege:hover {
  background: rgba(255, 255, 255, 0.06);
  color: rgb(242, 191, 131);
}

.privilege-list .privilege {
  box-sizing: border-box;
  padding: 12px 0px;
  height: 56px;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
}

.privilege .privilege-icon {
  width: 32px;
  height: 32px;
}

.privilege .privilege-text {
  max-height: 28px;
  color: rgb(169, 169, 172);
  font-size: 12px;
  line-height: 14px;
  margin-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.active-vip-box .join-link {
  margin: 8px 16px;
  height: 36px;
  line-height: 36px;
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgb(242, 191, 131);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: rgb(17, 19, 25);
  border-radius: 4px;
  padding: 0px 12px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.active-vip-box .join-link:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 4px;
}

.active-vip-box .text {
  position: relative;
  z-index: 1;
}

.vip-privileges .codekey {
  display: block;
  text-align: center;
  font-size: 14px;
  height: 44px;
  line-height: 44px;
  margin-top: 8px;
  color: rgb(169, 169, 172);
}

.vip-privileges .codekey:hover {
  color: rgb(242, 178, 131);
}

/* Code Content container */

body .content-container {
  min-height: 100vh;
}

.content-container .slider-banner {
  margin-bottom: -198px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 0;
  height: 56vw;
  max-height: 1012px;
}

.slider-banner .pc-focus-wrapper {
  height: 56vw;
  max-height: 1012px;
  box-sizing: border-box;
  background: rgb(51, 30, 20);
}

.pc-focus-wrapper .focus-img-link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.focus-img-link .focus-img-wapper {
  width: 100%;
  height: 99%;
  overflow: hidden;
  max-width: 1808px;
  margin: 0px auto;
  position: absolute;
  right: 0px;
  left: 0px;
}

.focus-img-wapper .focus-img-background {
  width: 100%;
  height: 100%;
  background: center center / cover no-repeat;
  position: absolute;
  top: 0px;
  opacity: 1;
}

.focus-img-background .focus-character-container {
  transform: translateX(0px);
  width: 100%;
  height: 98.49%;
  opacity: 1;
}

.focus-character-container .focus-character {
  width: 46.67%;
  height: 98.49%;
  position: absolute;
  top: 0px;
  left: 40%;
  bottom: 0px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.pc-focus-wrapper .focus-desc {
  opacity: 1;
  bottom: 360px;
  left: 56px;
  position: absolute;
  z-index: 102;
  color: rgb(255, 255, 255);
}

.focus-desc-wrap .focus-item-title {
  width: 20.5vw;
  min-width: 180px;
  max-width: 360px;
  height: 13.67vw;
  max-height: 240px;
  min-height: 120px;
  background-position: left bottom;
  background-repeat: no-repeat;
  color: rgb(230, 230, 230);
}

.focus-desc-wrap .focus-item-labels {
  margin-top: 24px;
  margin-bottom: 13px;
  display: flex;
  font-size: 12px;
  -webkit-box-align: center;
  align-items: center;
}

.focus-desc .focus-item-label-top {
  font-size: 14px;
  padding: 0px 8px;
  padding-left: 0px;
  margin-right: 10px;
  min-width: 50px;
  height: 24px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  line-height: 18px;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.focus-desc .focus-item-label-rank {
  padding: 0 8px;
  margin-right: 8px;
  border-radius: 2px 0px 0px 2px;
  height: 24px;
  line-height: 24px;
  background-image: linear-gradient(90deg, rgb(0, 214, 57) 0%, rgb(0, 194, 52) 100%);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.focus-desc .focus-item-label-original {
  font-size: 14px;
  padding: 0 8px;
  margin-right: 10px;
  min-width: 50px;
  height: 24px;
  border-radius: 2px;
  background-image: linear-gradient(90deg, rgb(0, 214, 57) 0%, rgb(0, 194, 52) 100%);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  line-height: 18px;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.focus-desc .focus-item-info {
  font-size: 15px;
  margin: 16px 0px;
  line-height: 20px;
  font-weight: 400;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.focus-desc .focus-item-score {
  font-size: 17px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(28, 199, 73);
  font-weight: 700;
}

.focus-desc .focus-item-score::after {
  height: 12px;
  margin: 0 10px;
  content: '';
  width: 2px;
  background: rgba(255, 255, 255, 0.2);
}

.focus-desc .focus-item-year {
  text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
}

.focus-desc .focus-item-rating {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
}

.focus-desc .focus-item-rating::before {
  margin: 0 10px;
  content: '';
  width: 2px;
  height: 12px;
  background: rgba(255, 255, 255, 0.2);
}

.focus-desc .focus-item-update {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px;
}

.focus-desc .focus-item-update::before {
  height: 12px;
  margin: 0px 10px;
  content: '';
  width: 2px;
  background: rgba(255, 255, 255, 0.2);
}

.focus-desc .focus-item-tags {
  font-size: 14px;
  line-height: 20px;
  margin-top: 13px;
  color: rgb(236, 236, 236);
  font-weight: 400;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
}

.focus-desc .focus-item-tags span {
  padding: 0px 6px;
  display: inline-block;
  margin-right: 6px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 2px;
}

.focus-desc .focus-item-desc {
  width: 440px;
  height: 63px;
  line-height: 21px;
  margin-top: 16px;
  font-size: 16px;
  -webkit-line-clamp: 3;
  min-width: 320px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
  font-weight: 400;
}

.focus-img-background .divide-box-banner {
  max-width: 1808px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  margin: 0px auto;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.divide-box-banner .left {
  width: 30%;
  height: 100%;
  background: linear-gradient(
    269deg,
    rgba(51, 30, 20, 0) 1%,
    rgba(51, 30, 20, 0.02) 10%,
    rgba(51, 30, 20, 0.05) 18%,
    rgba(51, 30, 20, 0.12) 25%,
    rgba(51, 30, 20, 0.2) 32%,
    rgba(51, 30, 20, 0.29) 38%,
    rgba(51, 30, 20, 0.39) 44%,
    rgba(51, 30, 20, 0.5) 50%,
    rgba(51, 30, 20, 0.61) 57%,
    rgba(51, 30, 20, 0.71) 63%,
    rgba(51, 30, 20, 0.8) 69%,
    rgba(51, 30, 20, 0.88) 76%,
    rgba(51, 30, 20, 0.95) 83%,
    rgba(51, 30, 20, 0.98) 91%,
    rgb(51, 30, 20) 100%
  );
  z-index: 101;
}

.divide-box-banner .center {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 120px;
  background-image: linear-gradient(
    179.5deg,
    rgba(17, 19, 25, 0.88) 0%,
    rgba(17, 19, 25, 0.89) 9%,
    rgba(17, 19, 25, 0.85) 17%,
    rgba(17, 19, 25, 0.79) 24%,
    rgba(17, 19, 25, 0.72) 31%,
    rgba(17, 19, 25, 0.64) 37%,
    rgba(17, 19, 25, 0.55) 44%,
    rgba(17, 19, 25, 0.45) 50%,
    rgba(17, 19, 25, 0.35) 56%,
    rgba(17, 19, 25, 0.26) 63%,
    rgba(17, 19, 25, 0.18) 69%,
    rgba(17, 19, 25, 0.11) 76%,
    rgba(17, 19, 25, 0.05) 83%,
    rgba(17, 19, 25, 0.01) 91%,
    rgba(17, 19, 25, 0) 100%
  );
}

.divide-box-banner .right {
  width: 15%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(51, 30, 20, 0) 1%,
    rgba(51, 30, 20, 0.02) 10%,
    rgba(51, 30, 20, 0.05) 18%,
    rgba(51, 30, 20, 0.12) 25%,
    rgba(51, 30, 20, 0.2) 32%,
    rgba(51, 30, 20, 0.29) 38%,
    rgba(51, 30, 20, 0.39) 44%,
    rgba(51, 30, 20, 0.5) 50%,
    rgba(51, 30, 20, 0.61) 57%,
    rgba(51, 30, 20, 0.71) 63%,
    rgba(51, 30, 20, 0.8) 69%,
    rgba(51, 30, 20, 0.88) 76%,
    rgba(51, 30, 20, 0.95) 83%,
    rgba(51, 30, 20, 0.98) 91%,
    rgb(51, 30, 20) 100%
  );
  z-index: 101;
}

.focus-img-link .option-button {
  position: absolute;
  left: 56px;
  bottom: 256px;
  z-index: 102;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 8.333vw;
  max-width: 152px;
}

.option-button .play-button {
  width: 3.51562vw;
  height: 3.51562vw;
  align-items: flex-start;
  max-width: 60px;
  max-height: 60px;
  z-index: 100;
  display: flex;
  cursor: pointer;
}

.play-button:hover .play-button-wrap circle {
  fill: rgb(73, 210, 109);
}

.play-button .play-button-wrap {
  width: 40px;
  height: 40px;
  z-index: 100;
  box-sizing: border-box;
  align-items: flex-start;
  max-width: 60px;
  max-height: 60px;
}

.play-button-wrap svg {
  width: 3.51562vw;
  height: 3.51562vw;
  align-items: flex-start;
  max-width: 60px;
  max-height: 60px;
}

.option-button .collect-button {
  width: 3.51562vw;
  height: 3.51562vw;
  align-items: flex-start;
  max-width: 60px;
  max-height: 60px;
  position: relative;
  display: block;
}

.collect-button .collection-wrap {
  width: 3.51562vw;
  height: 3.51562vw;
  align-items: flex-start;
  max-width: 60px;
  max-height: 60px;
}

.collect-button:hover .collection-wrap circle {
  fill-opacity: 1;
}

.collect-button .collection-wrap div svg {
  width: 3.51562vw;
  height: 3.51562vw;
  align-items: flex-start;
  max-width: 60px;
  max-height: 60px;
}

.pc-focus-wrapper .left-arrow {
  left: 0px;
  transform: scaleX(-1);
  position: absolute;
  top: 35%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  z-index: 101;
}

.left-arrow svg {
  width: 56px;
  height: 56px;
  opacity: 0.8;
}

.pc-focus-wrapper .left-arrow:hover svg {
  opacity: 1;
}

.pc-focus-wrapper .right-arrow {
  right: 0px;
  position: absolute;
  top: 35%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  z-index: 101;
}

.right-arrow svg {
  width: 56px;
  height: 56px;
  opacity: 0.8;
}

.pc-focus-wrapper .right-arrow:hover svg {
  opacity: 1;
}

.pc-focus-wrapper .bottom-banner {
  width: 100%;
  height: 30%;
  background-image: linear-gradient(rgba(17, 19, 25, 0) 2%, rgb(17, 19, 25) 94%);
  z-index: 101;
  position: absolute;
  bottom: 0px;
  pointer-events: none;
}

.pc-focus-wrapper .dot-move-slider {
  bottom: 246px;
  right: 56px;
  text-align: right;
  position: absolute;
  z-index: 101;
  cursor: auto;
  display: flex;
}

.dot-move-slider .dot-move-n {
  margin: 0px 4px;
  height: 8px;
  border-radius: 1.5px;
  width: 8px;
  display: inline-block;
  transition-duration: 300ms;
  transition-delay: 300ms;
  background-color: rgba(255, 255, 255, 0.3);
}

.dot-move-slider .dot-move-n:first-child {
  margin-left: 0px;
}

.dot-move-slider .dot-move-a {
  margin: 0px 4px;
  height: 8px;
  border-radius: 1.5px;
  width: 16px;
  display: inline-block;
  transition-duration: 300ms;
  transition-delay: 300ms;
  background-color: rgb(255, 255, 255);
}

.dot-move-slider .dot-move-a:first-child {
  margin-left: 0px;
}

.content-container .movie-list-container {
  min-height: 60vh;
  border: none;
}

.movie-list-container .row-container {
  position: relative;
  font-size: 0;
  overflow: visible;
  white-space: nowrap;
  min-height: 60vh;
}

.row-container .row-type-1 {
  transform: translate(0px);
  width: 100%;
  position: relative;
}

.movie-list-container .row-block.channelPage {
  margin: 0px 56px;
  max-width: 1808px;
  position: relative;
}

.movie-list-container .channelPage .row-title {
  padding-left: 0px;
  font-size: 28px;
  line-height: 32px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  position: relative;
  display: inline-block;
  transition-delay: 0.2s;
}

.movie-list-container .light-slider-container {
  position: relative;
}

.movie-list-container .row-block.channelPage .slider-content {
  margin: 0px -13px;
  padding: 16px 13px 40px;
  position: relative;
  overflow: hidden;
}

.movie-list-container .slider-move {
  transform: translate3d(0px, 0px, 0px);
  transition: transform 0.3s ease 0s;
}

.movie-list-container .slide-item-wrap {
  width: 203.25px;
  margin-right: 16px;
  display: inline-block;
}

.movie-list-container .lightSlider {
  width: 100%;
  transform: translate(0px);
  position: relative;
  display: inline-block;
  vertical-align: top;
  letter-spacing: 0px;
}

.movie-list-container .plist-img-wrap {
  margin-right: 0px;
  margin-bottom: 0px;
  transition: all 0.3s ease 0s;
}

.movie-list-container .plist-img-wrap > div {
  position: relative;
}

.movie-list-container .pic-box {
  z-index: 2;
  border-radius: 6px;
  overflow: hidden;
  display: block;
  position: relative;
}

.movie-list-container .pic-box::before {
  content: '';
  display: block;
  padding-top: 133.333%;
}

.movie-list-container .pic-box > span {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  inset: 0px;
}

.movie-list-container .pic-box > span > img {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: fill;
  backface-visibility: hidden;
  transform: translateZ(0px);
  background-color: rgb(48, 52, 64);
}

.movie-list-container .pic-box .update-info-layer {
  background-image: linear-gradient(
    0deg,
    rgba(10, 12, 15, 0.8) 0%,
    rgba(10, 12, 15, 0.74) 4%,
    rgba(10, 12, 15, 0.59) 17%,
    rgba(10, 12, 15, 0.4) 34%,
    rgba(10, 12, 15, 0.21) 55%,
    rgba(10, 12, 15, 0.06) 78%,
    rgba(10, 12, 15, 0) 100%
  );
  height: 60px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 300;
}

.movie-list-container .update-info-layer .update-info-mask {
  font-size: 14px;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  font-weight: 400;
  position: absolute;
  left: 8px;
  right: 10px;
  bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie-list-container .plist-img-wrap .text-box {
  height: 40px;
  font-size: 16px;
  position: relative;
  padding: 10px 0px 0px;
  transition: color 0.3s ease 0s;
}

.movie-list-container .text-box .title {
  font-size: 16px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: rgb(255, 255, 255);
  font-weight: 400;
}

.movie-list-container .channelPage .arrow-right {
  height: calc(100% - 90px);
  right: -44px;
  margin-top: 16px;
  top: 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 16px;
  position: absolute;
  user-select: none;
  cursor: pointer;
  width: 54px;
  border-radius: 50%;
  background-color: transparent;
  box-sizing: border-box;
  z-index: 10;
}

.movie-list-container .channelPage .arrow-right svg {
  width: 28px;
  height: 28px;
  fill: rgb(255, 255, 255);
  opacity: 0.6;
}

.movie-list-container .channelPage .arrow-right:hover svg {
  opacity: 1;
}

/* Code footer */

footer {
  z-index: auto;
  width: 100%;
  top: 0px;
  vertical-align: middle;
  background: rgb(10, 12, 15);
  border-top: 1px solid rgb(45, 47, 52);
  transition: background-color 0.5s linear 0s;
  color: rgb(221, 221, 221);
  font-size: 14px;
  text-align: center;
  position: relative;
  padding-bottom: 40px;
}

footer .footer-inner {
  width: 1180px;
  height: 100%;
  margin: 0px auto;
  position: relative;
}

.multiport-show .multiport-title {
  font-size: 20px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 700;
  margin-top: 32px;
}

.multiport-show .multiport-desc {
  font-size: 12px;
  color: rgb(169, 169, 172);
  font-weight: 400;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 12px;
  line-height: 24px;
  margin-top: 16px;
}

.multiport-desc .footer-donwload-img {
  width: 48px;
}

.multiport-show .multiport-content > div {
  background: rgb(35, 37, 43);
  border-radius: 4px;
  min-width: 160px;
  padding: 8px 12px;
  box-sizing: border-box;
  cursor: pointer;
}

.multiport-show .multiport-content > div:hover {
  background: rgb(55, 56, 61);
}

.multiport-show .multiport-content {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 32px auto;
}

.multiport-content .multiport-phone {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.multiport-content .multiport-phone > span {
  margin-left: 4px;
}

.multiport-content .multiport-tv {
  margin: 0px 120px;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.multiport-content .multiport-tv > span {
  margin-left: 4px;
}

.multiport-content .multiport-computer {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.multiport-content .multiport-computer > span {
  margin-left: 4px;
}

.footer-inner .footer-line-top {
  height: 1px;
  background-color: rgb(51, 51, 51);
  margin: 0px auto;
}

.footer-inner .footer-other-and-lan {
  position: relative;
  display: flex;
}

.footer-other-and-lan .help-center {
  flex: 1 1 0%;
  margin: 32px 0px 0px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.help-center .item-block {
  width: auto;
  max-width: 160px;
  text-align: left;
  display: flex;
  flex-direction: column;
  word-break: break-word;
}

.help-center h3 {
  line-height: 16px;
  margin-top: 0px;
  font-size: 14px;
  color: rgb(221, 221, 221);
  font-weight: normal;
}

.help-center li {
  margin-top: 16px;
  line-height: 16px;
  font-size: 13px;
}

.help-center li:first-of-type {
  margin-top: 20px;
}

.help-center li a {
  color: rgb(153, 153, 153);
}

.help-center li a:hover {
  color: rgb(11, 190, 6);
}

.language-block-ft .lang-show {
  margin-left: 130px;
  margin-top: 32px;
  height: 30px;
  padding: 0px 12px;
  border: 1px solid rgb(155, 155, 155);
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  user-select: none;
  line-height: 35px;
  text-align: left;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

.lang-show .lang-icon {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.lang-show .current-lang {
  margin-right: 4px;
  font-size: 12px;
}

.lang-show .wrap-arrow {
  width: 20px;
  height: 20px;
  text-align: center;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.wrap-arrow .arrow {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: auto;
}

.wrap-arrow .arrow img {
  width: 100%;
  height: 100%;
  border: none;
  vertical-align: top;
}

.lang-show .lang-list {
  padding: 8px 0px 20px;
  margin-top: 10px;
  background: rgb(55, 56, 61);
  border-radius: 4px;
  position: absolute;
  z-index: 999;
  text-align: center;
  right: 0px;
  padding: 12px 0px 24px;
  transition: all 0.3s ease 0s;
  transform: scale(1, 0);
  opacity: 0;
  top: auto;
  bottom: 120%;
  transform-origin: 50% 100%;
}

.lang-list ul {
  max-height: 292px;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(8, auto);
}

.footer-inner .copy {
  margin-top: 20px;
  text-align: center;
  font-family: 'Noto Sans';
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.copy .copyright {
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  color: rgb(155, 155, 155);
  text-align: left;
  margin: 0px auto;
}

.copy .copyright:nth-child(2) {
  margin: 10px auto 0px;
  padding-bottom: 16px;
}

.copy .copyright:nth-child(2) a {
  color: rgb(155, 155, 155);
}

.copy .copyright:nth-child(2) a:hover {
  color: rgb(28, 199, 73);
}

.get-app-two .get-app {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: flex-end;
  height: 40px;
  margin: 0px auto 0px 62px;
  min-width: 122px;
}

.get-app .right {
  display: flex;
  margin: auto;
}

.get-app .right a {
  margin-right: 16px;
  display: block;
  width: 30px;
  height: 30px;
}

.get-app .right a.a-facebook {
  background: url(../icon/fb-normal.png) 0% 0% / cover no-repeat;
}

.get-app .right a.a-facebook:hover {
  background: url(../icon/fb-hover.png) 0% 0% / cover no-repeat;
}

.get-app .right a.a-ins {
  background: url(../icon/ins-normal.png) 0% 0% / cover no-repeat;
}

.get-app .right a.a-ins:hover {
  background: url(../icon/ins-hover.png) 0% 0% / cover no-repeat;
}

.get-app .right a.a-twitter {
  background: url(../icon/tw-normal.png) 0% 0% / cover no-repeat;
}

.get-app .right a.a-twitter:hover {
  background: url(../icon/tw-hover.png) 0% 0% / cover no-repeat;
}
